{{#app-navbar}}
  About
{{/app-navbar}}

{{#app-page class="navbar-through toolbar-through" data-page="about"}}
  <div class="page-content">
    <div class="content-block-title">Authors</div>
    <div class="list-block">
      <ul>
        <li class="item-content">
          <a href="mailto:taras@bayzat.com">Taras Bezdetniy</a>
        </li>
        <li class="item-content">
            <a href="mailto:michal@bayzat.com">Michal Kesicki</a>
        </li>
        <li class="item-content">
          <a href="mailto:kepek@bayzat.com">Michal Kechner</a>
        </li>
      </ul>
    </div>
    <div class="content-block-title">Version</div>
    <div class="list-block">
      <ul>
        <li class="item-content">0.0.1</li>
      </ul>
    </div>
    {{outlet}}
  </div>
{{/app-page}}
