{{#app-navbar}}
  Settings
{{/app-navbar}}

{{#app-page data-page="settings"}}
  <div class="page-content">
    <div class="content-block">
      <div class="content-block-inner">
        <p>Not available yet.</p>
      </div>
    </div>
  </div>
  {{outlet}}
{{/app-page}}
